$cdmx-primary: #9f2241;
$cdmx-secondary: #235b4e;
$cdmx-accent: #bc955c;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
$nav-pills-link-active-bg: $cdmx-primary;

$custom-theme-colors: (
  "white": #FFF,
  "cdmx-primary": $cdmx-primary,
  "cdmx-secondary": $cdmx-secondary,
  "cdmx-accent": $cdmx-accent,
);
$table-variants: map-merge($table-variants, $custom-theme-colors);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

.nav-link:hover{
  background-color: $cdmx-primary !important;
  border-radius: 0.25rem;
  color: #FFF !important;
}
a.page-link{
  color: $cdmx-primary !important;
}
.page-item.active .page-link{
  color:#FFF !important;
  background-color: $cdmx-accent !important;
  border-color: $cdmx-accent !important;
}

.callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-color: rgb(233, 236, 239);
  border-left-width: 1px;
  border-left-width: .25rem;
  border-radius: .25rem;
}
.callout-cdmx-primary{border-left-color: $cdmx-primary;}
.callout-cdmx-secondary{border-left-color: $cdmx-secondary;}
.callout-cdmx-accent{border-left-color: $cdmx-accent;}
.callout-primary{border-left-color: $primary;}
.callout-secondary{border-left-color: $secondary;}
.callout-success{border-left-color: $success;}
.callout-info{border-left-color: $info;}
.callout-warning{border-left-color: $warning;}
.callout-danger{border-left-color: $danger;}
.callout-light{border-left-color: $light;}
.callout-dark{border-left-color: $dark;}
.content-box {
  padding: 1.5rem;
  margin: 1.25rem;
  border: 1px solid #e9ecef;
  border-top-color: rgb(233, 236, 239);
  border-top-width: 1px;
  border-top-width: .25rem;
  border-radius: .25rem;
}
.content-box-cdmx-primary{border-top-color: $cdmx-primary;}
.content-box-cdmx-secondary{border-top-color: $cdmx-secondary;}
.content-box-cdmx-accent{border-top-color: $cdmx-accent;}
.content-box-primary{border-top-color: $primary;}
.content-box-secondary{border-top-color: $secondary;}
.content-box-success{border-top-color: $success;}
.content-box-info{border-top-color: $info;}
.content-box-warning{border-top-color: $warning;}
.content-box-danger{border-top-color: $danger;}
.content-box-light{border-top-color: $light;}
.content-box-dark{border-top-color: $dark;}
/*ngx calendar bootstrap custom*/
.bs-datepicker-head{background-color: $cdmx-primary !important}
td.week span{color:$cdmx-primary !important}
.bs-datepicker-body table td span.selected {background-color: $cdmx-primary !important}
.bs-datepicker-container{padding: 0 !important}
/*ngx calendar bootstrap custom*/
.swal2-styled.swal2-confirm{background-color: $cdmx-primary !important }
@import "../node_modules/bootstrap/scss/bootstrap";
 