
<footer class="flex-shrink-0 py-5 bg-cdmx-secondary text-white">
  <div class="container d-flex justify-content-between">
    <div class="p-4 w-25 ">
      <h4>Atención Ciudadana</h4>
      <p style="font-size: small;"><b>Dirección:</b> Dr. Lavista 144, acceso 1, primer piso, Doctores, Cuauhtémoc, C.P.06720.</p>
      <p><b>Contributel:</b> 55 5588 3388</p>
    </div>
    <div class="p-4 w-50"></div>
    <div class="p-4 w-25">
      <img src="assets/img/logo_footer.svg" />
    </div>
  </div>  
</footer>