<div class="site">
<nav class="navbar navbar-expand-lg navbar-white bg-white shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo_dependencia.svg" height="70" width="100%" />
        </a>
    </div>
</nav>
<main class="site-content">
<div class="cdmx-header">
    {{appName}}
</div>
<div class="card">
    <div class="container">
        <p style="text-align: center;">{{descripcion}}</p>
        <img src="assets/img/avatar-person.svg" width="150" class="mx-auto d-block" />
        <form #formLogin="ngForm" (ngSubmit)="submit()" autocomplete="off">
            <div class="mb-4">
                <label class="form-label">Usuario</label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="logIn.login" name="login"
                        #login="ngModel" [class.is-invalid]="login.invalid && (login.dirty || login.touched)" required>
                    <div class="invalid-feedback">El campo usuario es requerido</div>
                </div>
            </div>
            <div class="mb-5">
                <label class="form-label">Clave</label>
                <div class="input-group">
                    <input type="password" class="form-control is-invalid"
                        [(ngModel)]="logIn.password" name="password" #password="ngModel"
                        [class.is-invalid]="password.invalid && (password.dirty || password.touched)" required>
                    <div class="invalid-feedback">El campo clave es requerido</div>
                </div>
            </div>
            <div class="d-grid">
                <button class="btn btn-cdmx-secondary" type="submit" [disabled]="formLogin.invalid">Acceder</button>
            </div>
            <div class="mt-5" *ngIf="errorMsj">
                <alert type="warning" [dismissible]="true"  class="text-center">{{errorMsj}}
                </alert>
            </div>
            <div class="d-flex justify-content-end align-items-end" style="min-height: 50px">
                <p style="font-size: x-small;">Version : {{version}}</p>
            </div>
        </form>
    </div>
</div>
</main>
<div class="d-flex bg-cdmx-accent" style="height: 15px;"></div>
<footer class="flex-shrink-0 py-5 bg-cdmx-secondary text-white">
  <div class="container">
    <div class="row text-center text-md-start">
      <div class="col-sm-12 col-md-3">
        <h4>Atención Ciudadana</h4>
        <p style="font-size: small;"><b>Dirección:</b> Dr. Lavista 144, acceso 1, primer piso, Doctores, Cuauhtémoc,
          C.P.06720.</p>
        <p><b>Contributel:</b> 55 5588 3388</p>
      </div>
      <div class="col-sm-12 col-md-6"><br></div>
      <div class="col-sm-12 col-md-3 text-center">
        <img src="assets/img/logo_footer.svg" class="img-fluid" />
      </div>
    </div>
  </div>
</footer>
</div>