<div class="d-flex flex-column align-items-center align-items-sm-start p-0 text-cdmx-primary min-vh-100">
  <a [routerLink]="" class="d-flex align-items-center p-3 mt-2 mb-md-0 me-md-auto text-cdmx-primary text-decoration-none">
    <img class="bi me-2" src="assets/img/cdmx.png" height="32" />
    <span class="fs-5 d-none d-sm-inline">Menu</span>
  </a>
  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
    <li class="nav-item w-100 my-1" *ngFor="let item of nav; let i = index">
      <div *ngIf="!item.hasChildren">
        <a [routerLink]="[item.route]" class="nav-link link-cdmx-primary align-middle" [class.active]="item.active"
          [tooltip]="item.name" placement="right" (click)="changeActive()">
          <span class="material-icons me-2">{{item.icon}}</span> <span
            class="ms-1 d-none d-sm-inline">{{item.name}}</span>
        </a>
      </div>
      <div *ngIf="item.hasChildren">
        <a href="#submenu{{i}}"  class="nav-link submenu link-cdmx-primary align-middle" data-bs-toggle="collapse" [tooltip]="item.name" placement="right">
          <span class="material-icons me-2">{{item.icon}}</span> <span class="ms-1 d-none d-sm-inline">{{item.name}}</span> </a>
        <ul class="collapse nav flex-column" style="padding-left: 1em;" id="submenu{{i}}" data-bs-parent="#menu">
          <li class="w-100" *ngFor="let submenu of item.children" >
            <a [routerLink]="submenu?.route" class="nav-link link-cdmx-primary" [class.active]="submenu.active" [tooltip]="submenu?.name" (click)="changeActive()" placement="right">  <span class="material-icons me-2">{{submenu?.icon}}</span> <span class="d-none d-sm-inline ml-5">{{submenu?.name}}</span>  </a>
          </li>
       
        </ul>
      </div>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
      data-bs-toggle="dropdown" aria-expanded="false">
      <div *ngIf="session.perfil_img">
        <ngx-avatar [src]="session.perfil_img"></ngx-avatar>
      </div>
      <div *ngIf="!session.perfil_img">
        <ngx-avatar [name]="session?.nombre"></ngx-avatar>
      </div>
      <span class="d-none d-sm-inline mx-3">{{session?.nombre}}</span>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><span class="dropdown-item">{{session?.rfc}}</span></li>
      <li><span class="dropdown-item">{{session?.nombre}} {{session?.primer_apellido}}
          {{session?.segundo_apellido}}</span></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
    </ul>
  </div>
</div>